@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box ;
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 10px;
}

h1{
  text-align: center;
}

.navBar ul li {
  display: inline-block;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}

ul li {
  list-style: row;
}

.Carrito{
  width: 40px;
  height: 40px;
}

.containerHeader{

  display: flex;
  align-items: center;
  justify-content: space-between;
}
